<div class="modal-header" style="background: darkturquoise;">
  <h4 class="modal-title">Thêm mới thu nhập</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <form [formGroup]="thuNHap" (ngSubmit)="onCreate()" style="width: 98%;">
        <div class="form-group">
          <label>Số tiền :</label>
          <input type="number" class="form-control" placeholder="Nhập vào số tiền..." name="sotien" formControlName="sotien">
          <div class="text-danger" *ngIf="f.sotien.errors && (f.sotien.touched || f.sotien.dirty)">
            <div *ngIf="f.sotien.errors.required">Số tiền không được bỏ trống!</div>
          </div>
        </div>
        <div class="form-group">
          <label>Loại tiền :</label>
          <input type="text" class="form-control" placeholder="Nhập vào loại tiền..." name="code" formControlName="loaitien">
          <!--          <small class="small">Ví dụ: ...</small>-->
          <div class="text-danger" *ngIf="f.loaitien.errors && (f.loaitien.touched || f.loaitien.dirty)">
            <div *ngIf="f.loaitien.errors.required">Loại tiền không được bỏ trống!</div>
          </div>
        </div>
        <div class="form-group">
          <label>Ngày tạo :</label>
          <input type="datetime-local" class="form-control" placeholder="Nhập vào ngày tạo..." name="ngaytao" formControlName="ngaytao">
          <div class="text-danger" *ngIf="f.ngaytao.errors && (f.ngaytao.touched || f.ngaytao.dirty)">
            <div *ngIf="f.ngaytao.errors.required">Ngày tạo không được bỏ trống!</div>
          </div>
        </div>
        <div class="form-group">
          <label>Kỳ hạn:</label>
          <input type="text" class="form-control" placeholder="Nhập vào kỳ hạn..." name="code" formControlName="kihan">
          <!--          <small class="small">Ví dụ: ...</small>-->
          <div class="text-danger" *ngIf="f.kihan.errors && (f.kihan.touched || f.kihan.dirty)">
            <div *ngIf="f.kihan.errors.required">Kỳ hạn không được bỏ trống!</div>
          </div>
        </div>
        <div class="form-group">
          <label>Mô tả :</label>
          <textarea type="text" class="form-control" placeholder="Nhập vào mô tả..." name="description" formControlName="mota" rows="4"></textarea>
          <div class="text-danger" *ngIf="f.mota.errors && (f.mota.touched || f.mota.dirty)">
            <div *ngIf="f.mota.errors.required">Mô tả không được bỏ trống!</div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Tạo mới" class="btn btn-success">
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="close()">Đóng</button>
</div>
