<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header mb-5">
          <h5 class=" card-category">Thu nhập</h5>
          <h3 class=" card-title">Quản lý thu nhập</h3>
        </div>
        <div class=" card-body">
          <div class="row">
            <div class="col-5">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-8">
                        <input type="text" class="form-control" placeholder="Nhập vào mô tả" [(ngModel)]="tnSearch.mota">
                      </div>
                      <div class="col-4">
                        <input type="button" class="btn btn-success" (click)="onSearch()" value="Tìm kiếm">
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-4">
              <div class="row">
                <label>Thời gian</label>
                <div class="col-4 form-group">
                  <select class="form-control" (change)="checkTime($event)" >
                    <option value="{{mo.value}}" [selected]="monthNow === mo.value"  *ngFor="let mo of listMonth">{{mo.name}}</option>
                  </select>
                </div>
                <div class="col-4 form-group">
                  <select class="form-control" (change)="checkTimeY($event)" >
                    <option  value="{{y}}" [selected]="yearNow === y" *ngFor="let y of listYear">{{y}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-3">
              <button class="btn btn-primary float-right" (click)="openCreate()">Thêm mới</button>
            </div>
          </div>
          <p class="float-right"> Tổng số bản ghi : <span style="color: coral">{{tnSearch.totalRecords}}</span></p>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">TT</th>
              <th scope="col">Tên khách hàng</th>
              <th scope="col">Số tiền</th>
              <th scope="col">Loại tiền</th>
              <th scope="col">Kỳ hạn</th>
              <th scope="col">Ngày tạo</th>
              <th scope="col">Mô tả</th>
              <th scope="col">Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ite of listTN; let i = index">
              <td scope="row">{{i+1}}</td>
              <td>{{ite.tenkhachhang}}</td>
              <td>{{ite.sotien | vndTransfer}}</td>
              <td>{{ite.loaitien}}</td>
              <td>{{ite.kihan}}</td>
              <td >{{ite.ngaytao| localDateTimeV1}}</td>
              <td >{{ite.mota}}</td>
              <td>
                <div class="form-group">
                  <button class="btn btn-success" (click)="openEdit(ite)" >Sửa</button>
                  <button class="btn btn-danger" (click)="delete(ite.id)">Xóa</button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <p class="float-right"> Tổng số tiền thu nhập : <span style="color: coral">{{totalTN | vndTransfer}} VNĐ</span></p>
          <div style="margin: auto;width: 50%;padding: 10px;">
                        <app-paginator (searchFunction)="fetch()" [searchObject]="tnSearch"></app-paginator>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
