<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header mb-5">
          <h5 class=" card-category">Loại ngân sách</h5>
          <h3 class=" card-title">Quản lý loại ngân sách</h3>
        </div>
        <div class=" card-body">
          <div class="row">
            <div class="col-8">
              <div class="form-group">
                <div class="row">
                  <div class="col-8">
                    <input type="text" class="form-control" placeholder="Nhập vào tên loại ngân sách" [(ngModel)]="lnsSeacrh.tenloai">
                  </div>
                  <div class="col-4">
                    <input type="button" class="btn btn-success" value="Tìm kiếm" (click)="onSearch()">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <button class="btn btn-primary float-right" (click)="openCreate()">Thêm mới</button>
            </div>
          </div>
          <p class="float-right"> Tổng số bản ghi : <span style="color: coral">{{lnsSeacrh.totalRecords}}</span></p>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">TT</th>
              <th scope="col">Loại ngân sách</th>
              <th scope="col">Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ite of lnsList ; let i = index">
              <td scope="row">{{i + 1}}</td>
              <td>{{ite.tenloaingansach}}</td>
              <td>
                <div class="form-group">
                  <button class="btn btn-success" (click)="openEdit(ite)" >Sửa</button>
                  <button class="btn btn-danger" (click)="delete(ite.id)">Xóa</button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div style="margin: auto;width: 50%;padding: 10px;">
            <app-paginator (searchFunction)="fetch()" [searchObject]="lnsSeacrh"></app-paginator>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
