<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header mb-5">
          <h5 class=" card-category">Ngân sách</h5>
          <h3 class=" card-title">Quản lý ngân sách</h3>
        </div>
        <div class=" card-body">
          <div class="row">
            <div class="col-5">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-8">
                        <input type="text" class="form-control" placeholder="Nhập tên loại ngân sách" [(ngModel)]="nsSearch.tenloaingansach">
                      </div>
                      <div class="col-4">
                        <input type="button" class="btn btn-success" (click)="onSearch()" value="Tìm kiếm">
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <select (change)="checkTime($event)">
                  <option value=""></option>
                  <option value="1">Tháng 1</option>
                  <option value="2">Tháng 2</option>
                  <option value="3">Tháng 3</option>
                  <option value="4">Tháng 4</option>
                  <option value="5">Tháng 5</option>
                  <option value="6">Tháng 6</option>
                  <option value="7">Tháng 7</option>
                  <option value="8">Tháng 8</option>
                  <option value="9">Tháng 9</option>
                  <option value="10">Tháng 10</option>
                  <option value="11">Tháng 11</option>
                  <option value="12">Tháng 12</option>
                </select>
                <select (change)="checkTimeY($event)">
                  <option value=""></option>
                  <option value="{{y}}" *ngFor="let y of listYear">{{y}}</option>
                </select>
              </div>
            </div>
            <div class="col-3">
              <button class="btn btn-primary float-right" (click)="openCreate()">Thêm mới</button>
            </div>
          </div>
          <p class="float-right"> Tổng số bản ghi : <span style="color: coral">100</span></p>
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">TT</th>
              <th scope="col">Khách hàng</th>
              <th scope="col">Vòng lặp</th>
              <th scope="col">Ngày bắt đầu</th>
              <th scope="col">Loại ngân sách</th>
              <th scope="col">Số tiền</th>
              <th scope="col">Loại tiền</th>
              <th scope="col">Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ite of listNS; let i = index">
              <td scope="row">{{i+1}}</td>
              <td>{{ite.tenkhachhang}}</td>
              <td>{{ite.vonglap}}</td>
              <td>{{ite.ngaytao| localDateTimeV1}}</td>
              <td>{{ite.tenloaingansach}}</td>
              <td>{{ite.sotien | vndTransfer}}</td>
              <td>{{ite.loaitien}}</td>
              <td>
                <div class="form-group">
                  <button class="btn btn-success" (click)="openEdit(ite)" >Sửa</button>
                  <button class="btn btn-danger" (click)="delete(ite.id)">Xóa</button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div style="margin: auto;width: 50%;padding: 10px;">
                        <app-paginator (searchFunction)="fetch()" [searchObject]="nsSearch"></app-paginator>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
