<div class="modal-header" style="background: darkturquoise;">
  <h4 class="modal-title">Sửa ngân sách</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <form [formGroup]="nganSachE" (ngSubmit)="onCreate()" style="width: 98%;">
        <div class="form-group">
          <label>Loại ngân sách :</label>
          <select  class="form-control" formControlName="idLoaiNganSach" name="idLoaiNganSach">
            <option *ngFor="let ca of listLNS" [value]="ca.id">{{ca.tenloaingansach}}</option>
          </select>
          <div class="text-danger" *ngIf="f.idLoaiNganSach.errors && (f.idLoaiNganSach.touched || f.idLoaiNganSach.dirty)">
            <div *ngIf="f.idLoaiNganSach.errors.required">Loại ngân sách không được bỏ trống!</div>
          </div>
        </div>
        <div class="form-group">
          <label>Số tiền :</label>
          <input min="0" type="number" class="form-control" placeholder="Nhập vào số tiền..." name="sotien" formControlName="sotien" (input)="getMoney($event)">
          <div class="text-danger" *ngIf="f.sotien.errors && (f.sotien.touched || f.sotien.dirty)">
            <div *ngIf="f.sotien.errors.required">Số tiền không được bỏ trống!</div>
          </div>
          <div class="text-danger" *ngIf="isNavigate">
            Số tiền nhập vào không hợp lệ
          </div>
          <small class="text-danger">{{money}}</small>
        </div>
        <div class="form-group">
          <label>Loại tiền :</label>
          <select class="form-control" name="code" formControlName="loaitien">
            <option value="VNĐ">VNĐ</option>
            <option value="USD">USD</option>
          </select>
<!--          <input type="text" class="form-control" placeholder="Nhập vào loại tiền..." name="loaitien" formControlName="loaitien">-->
          <!--          <small class="small">Ví dụ: ...</small>-->
          <div class="text-danger" *ngIf="f.loaitien.errors && (f.loaitien.touched || f.loaitien.dirty)">
            <div *ngIf="f.loaitien.errors.required">Loại tiền không được bỏ trống!</div>
          </div>
        </div>
        <div class="form-group">
          <label>Ngày bắt đầu :</label>
          <input type="datetime-local" class="form-control"  name="ngaybatdau" formControlName="ngaytao">
          <div class="text-danger" *ngIf="f.ngaytao.errors && (f.ngaytao.touched || f.ngaytao.dirty)">
            <div *ngIf="f.ngaytao.errors.required">Ngày bắt đầu không được bỏ trống!</div>
          </div>
        </div>
        <div class="form-group">
          <label>Vòng lặp :</label>
          <input type="text" class="form-control" placeholder="Nhập vào vòng lặp..." name="vonglap" formControlName="vonglap">
          <div class="text-danger" *ngIf="f.vonglap.errors && (f.vonglap.touched || f.vonglap.dirty)">
            <div *ngIf="f.vonglap.errors.required">Vòng lặp không được bỏ trống!</div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Sửa" class="btn btn-success">
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="close()">Đóng</button>
</div>
