<div class="modal-header" style="background: darkturquoise;">
  <h4 class="modal-title">Sửa loại ví</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <form [formGroup]="lvFE" (ngSubmit)="onCreate()" style="width: 98%;">
        <div class="form-group">
          <label>Tên loại thông báo :</label>
          <input type="text" class="form-control" placeholder="Nhập vào Tên loại ví..." name="name" formControlName="tenVi">
          <div class="text-danger" *ngIf="f.tenVi.errors && (f.tenVi.touched || f.tenVi.dirty)">
            <div *ngIf="f.tenVi.errors.required">Tên loại ví không được bỏ trống!</div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Sửa" class="btn btn-success">
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="close()">Đóng</button>
</div>
